venv/
.venv/

# Ignore everything in data except move_vocab.txt this is for web implementation
data/*
!data/
!data/move_vocab.txt

__pycache__/
*.pyc

*.pt
*.pth
!checkpoints/
!checkpoints/best_model.pt

/engines/
